.contenedor_principal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  margin:20px;
}

.columna_izquierda, .columna_derecha {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* .columna_izquierda{
  width: 70%;
}
.columna_derecha{
  width: 30%;
}

.container, .section_educativa, .conexiones, .tus_conexiones {
  box-sizing: border-box;
  width: 80%;
} */
.color {
  box-sizing: border-box;
  width: 100%;
}

