.contenedor_principal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  margin:20px;
}

.columna_izquierda, .columna_derecha {
  display: flex;
  flex-direction: column;
}

.columna_izquierda{
  flex: 2;
}
.columna_derecha {
  flex: 1;
  margin-right: 50px;
}
.columna_derecha > div {
  width: 100%;
  box-sizing: border-box;
}

.color {
  box-sizing: border-box;
  width: 100%;
}

